In [1]:
import pandas as pd

In [2]:
path = 'data/2019-population_census-report-per-county (1).csv'
data = pd.read_csv(path)
data

,County,Total_Population19,Male population 2019,Female population 2019,Households,Av_HH_Size,LandArea,Population Density,Population in 2009,Pop_change,Intersex population 2019
0,Baringo,666763,336322,330428,142518,5,10976,61,555561,111202,13
1,Bomet,875689,434287,441379,187641,5,2531,346,724186,151503,23
2,Bungoma,1670570,812146,858389,358796,5,3024,552,1630934,39636,35
3,Busia,893681,426252,467401,198152,5,1696,527,488075,405606,28
4,Elgeyo-Marakwet,454480,227317,227151,99861,5,3032,150,369998,84482,12
5,Embu,608599,304208,304367,182743,3,2821,216,516212,92387,24
6,Garissa,841353,458975,382344,141394,6,44736,19,623060,218293,34
7,Homa Bay,1131950,539560,592367,262036,4,3153,359,963794,168156,23
8,Isiolo,268002,139510,128483,58072,5,25350,11,143294,124708,9
9,Kajiado,1117840,557098,560704,316179,4,21871,51,687312,430528,38
10,Kakamega,1867579,897133,970406,433207,4,3020,618,1660651,206928,40
11,Kericho,901777,450751,451008,206036,4,2436,370,758339,143438,28
12,Kiambu,2417735,1187146,1230454,795241,3,2539,952,1623282,794453,135
13,Kilifi,1453787,704089,749673,298472,5,12540,116,1109735,344052,25
14,Kirinyaga,610411,302011,308369,204188,3,1478,413,528054,82357,31
15,Kisii,1266860,605784,661038,308054,4,1323,958,1152282,114578,38
16,Kisumu,1155574,560942,594609,300745,4,2085,554,968909,186665,23
17,Kitui,1136187,549003,587151,262942,4,30430,37,1012709,123478,33
18,Kwale,866820,425121,441681,173176,5,8267,105,649931,216889,18
19,Laikipia,518580,259440,259102,149271,3,9532,54,399227,119353,18
20,Lamu,143920,76103,67813,37963,4,6253,23,101539,42381,4
21,Machakos,1421932,710707,711191,402466,4,6043,235,1098584,323348,34
22,Makueni,987653,489691,497942,244669,4,8170,121,884527,103126,20
23,Mandera,867457,434976,432444,125763,7,25940,33,1025756,"(158,299)",37
24,Marsabit,459785,243548,216219,77495,6,70944,6,291166,168619,18
25,Meru,1545714,767698,777975,426360,4,7006,221,1356301,189413,41
26,Migori,1116436,536187,580214,240168,5,2614,427,917170,199266,35
27,Mombasa,1208333,610257,598046,378422,3,220,5495,939370,268963,30
28,Murang'a,1056640,523940,532669,318105,3,2524,419,942581,114059,31
29,Nairobi,4397073,2192452,2204376,1506888,3,704,6247,3138369,1258704,245
30,Nakuru,2162202,1077272,1084835,616046,4,7462,290,1603325,558877,95
31,Nandi,885711,441259,444430,199426,4,2856,310,752965,132746,22
32,Narok,1157873,579042,578805,241125,5,17950,65,850920,306953,26
33,Nyamira,605576,290907,314656,150669,4,897,675,598252,7324,13
34,Nyandarua,638289,315022,323247,179686,4,3286,194,596268,42021,20
35,Nyeri,759164,374288,384845,248050,3,3325,228,693558,65606,31
36,Samburu,310327,156774,153546,65910,5,21065,15,223947,86380,7
37,Siaya,993183,471669,521496,250698,4,2530,393,842304,150879,18
38,Taita Taveta,340671,173337,167327,96429,4,17152,20,284657,56014,7
39,Tana River,315943,158550,157391,68242,5,37951,8,240075,75868,2
40,Tharaka-Nithi,393177,193764,199406,109860,4,2564,153,365330,27847,7
41,Trans Nzoia,990341,489107,501206,223808,4,2495,397,818757,171584,28
42,Turkana,926976,478087,448868,164519,6,68233,14,855399,71577,21
43,Uasin Gishu,1163186,580269,582889,304943,4,3392,343,894179,269007,28
44,Vihiga,590013,283678,306323,143365,4,564,1047,554622,35391,12
45,Wajir,781263,415374,365840,127932,6,56773,14,661941,119322,49
46,West Pokot,621241,307013,314213,116182,5,9123,68,512690,108551,15

In [3]:
#kenya's 2019 total population
data['Total_Population19'].sum()

47564316

ordered population result in each county

In [4]:
val = data.sort_values(by="Total_Population19", ascending=False)
val

,County,Total_Population19,Male population 2019,Female population 2019,Households,Av_HH_Size,LandArea,Population Density,Population in 2009,Pop_change,Intersex population 2019
29,Nairobi,4397073,2192452,2204376,1506888,3,704,6247,3138369,1258704,245
12,Kiambu,2417735,1187146,1230454,795241,3,2539,952,1623282,794453,135
30,Nakuru,2162202,1077272,1084835,616046,4,7462,290,1603325,558877,95
10,Kakamega,1867579,897133,970406,433207,4,3020,618,1660651,206928,40
2,Bungoma,1670570,812146,858389,358796,5,3024,552,1630934,39636,35
25,Meru,1545714,767698,777975,426360,4,7006,221,1356301,189413,41
13,Kilifi,1453787,704089,749673,298472,5,12540,116,1109735,344052,25
21,Machakos,1421932,710707,711191,402466,4,6043,235,1098584,323348,34
15,Kisii,1266860,605784,661038,308054,4,1323,958,1152282,114578,38
27,Mombasa,1208333,610257,598046,378422,3,220,5495,939370,268963,30
43,Uasin Gishu,1163186,580269,582889,304943,4,3392,343,894179,269007,28
32,Narok,1157873,579042,578805,241125,5,17950,65,850920,306953,26
16,Kisumu,1155574,560942,594609,300745,4,2085,554,968909,186665,23
17,Kitui,1136187,549003,587151,262942,4,30430,37,1012709,123478,33
7,Homa Bay,1131950,539560,592367,262036,4,3153,359,963794,168156,23
9,Kajiado,1117840,557098,560704,316179,4,21871,51,687312,430528,38
26,Migori,1116436,536187,580214,240168,5,2614,427,917170,199266,35
28,Murang'a,1056640,523940,532669,318105,3,2524,419,942581,114059,31
37,Siaya,993183,471669,521496,250698,4,2530,393,842304,150879,18
41,Trans Nzoia,990341,489107,501206,223808,4,2495,397,818757,171584,28
22,Makueni,987653,489691,497942,244669,4,8170,121,884527,103126,20
42,Turkana,926976,478087,448868,164519,6,68233,14,855399,71577,21
11,Kericho,901777,450751,451008,206036,4,2436,370,758339,143438,28
3,Busia,893681,426252,467401,198152,5,1696,527,488075,405606,28
31,Nandi,885711,441259,444430,199426,4,2856,310,752965,132746,22
1,Bomet,875689,434287,441379,187641,5,2531,346,724186,151503,23
23,Mandera,867457,434976,432444,125763,7,25940,33,1025756,"(158,299)",37
18,Kwale,866820,425121,441681,173176,5,8267,105,649931,216889,18
6,Garissa,841353,458975,382344,141394,6,44736,19,623060,218293,34
45,Wajir,781263,415374,365840,127932,6,56773,14,661941,119322,49
35,Nyeri,759164,374288,384845,248050,3,3325,228,693558,65606,31
0,Baringo,666763,336322,330428,142518,5,10976,61,555561,111202,13
34,Nyandarua,638289,315022,323247,179686,4,3286,194,596268,42021,20
46,West Pokot,621241,307013,314213,116182,5,9123,68,512690,108551,15
14,Kirinyaga,610411,302011,308369,204188,3,1478,413,528054,82357,31
5,Embu,608599,304208,304367,182743,3,2821,216,516212,92387,24
33,Nyamira,605576,290907,314656,150669,4,897,675,598252,7324,13
44,Vihiga,590013,283678,306323,143365,4,564,1047,554622,35391,12
19,Laikipia,518580,259440,259102,149271,3,9532,54,399227,119353,18
24,Marsabit,459785,243548,216219,77495,6,70944,6,291166,168619,18
4,Elgeyo-Marakwet,454480,227317,227151,99861,5,3032,150,369998,84482,12
40,Tharaka-Nithi,393177,193764,199406,109860,4,2564,153,365330,27847,7
38,Taita Taveta,340671,173337,167327,96429,4,17152,20,284657,56014,7
39,Tana River,315943,158550,157391,68242,5,37951,8,240075,75868,2
36,Samburu,310327,156774,153546,65910,5,21065,15,223947,86380,7
8,Isiolo,268002,139510,128483,58072,5,25350,11,143294,124708,9
20,Lamu,143920,76103,67813,37963,4,6253,23,101539,42381,4

top five most populated counties in kenya

In [5]:
val.head(5)

,County,Total_Population19,Male population 2019,Female population 2019,Households,Av_HH_Size,LandArea,Population Density,Population in 2009,Pop_change,Intersex population 2019
29,Nairobi,4397073,2192452,2204376,1506888,3,704,6247,3138369,1258704,245
12,Kiambu,2417735,1187146,1230454,795241,3,2539,952,1623282,794453,135
30,Nakuru,2162202,1077272,1084835,616046,4,7462,290,1603325,558877,95
10,Kakamega,1867579,897133,970406,433207,4,3020,618,1660651,206928,40
2,Bungoma,1670570,812146,858389,358796,5,3024,552,1630934,39636,35

less populated counties in kenya

In [6]:
val.tail(10)

,County,Total_Population19,Male population 2019,Female population 2019,Households,Av_HH_Size,LandArea,Population Density,Population in 2009,Pop_change,Intersex population 2019
44,Vihiga,590013,283678,306323,143365,4,564,1047,554622,35391,12
19,Laikipia,518580,259440,259102,149271,3,9532,54,399227,119353,18
24,Marsabit,459785,243548,216219,77495,6,70944,6,291166,168619,18
4,Elgeyo-Marakwet,454480,227317,227151,99861,5,3032,150,369998,84482,12
40,Tharaka-Nithi,393177,193764,199406,109860,4,2564,153,365330,27847,7
38,Taita Taveta,340671,173337,167327,96429,4,17152,20,284657,56014,7
39,Tana River,315943,158550,157391,68242,5,37951,8,240075,75868,2
36,Samburu,310327,156774,153546,65910,5,21065,15,223947,86380,7
8,Isiolo,268002,139510,128483,58072,5,25350,11,143294,124708,9
20,Lamu,143920,76103,67813,37963,4,6253,23,101539,42381,4

counties ordered according to land size

In [8]:
land = data.sort_values(by="LandArea", ascending=False)
land

,County,Total_Population19,Male population 2019,Female population 2019,Households,Av_HH_Size,LandArea,Population Density,Population in 2009,Pop_change,Intersex population 2019
24,Marsabit,459785,243548,216219,77495,6,70944,6,291166,168619,18
42,Turkana,926976,478087,448868,164519,6,68233,14,855399,71577,21
45,Wajir,781263,415374,365840,127932,6,56773,14,661941,119322,49
6,Garissa,841353,458975,382344,141394,6,44736,19,623060,218293,34
39,Tana River,315943,158550,157391,68242,5,37951,8,240075,75868,2
17,Kitui,1136187,549003,587151,262942,4,30430,37,1012709,123478,33
23,Mandera,867457,434976,432444,125763,7,25940,33,1025756,"(158,299)",37
8,Isiolo,268002,139510,128483,58072,5,25350,11,143294,124708,9
9,Kajiado,1117840,557098,560704,316179,4,21871,51,687312,430528,38
36,Samburu,310327,156774,153546,65910,5,21065,15,223947,86380,7
32,Narok,1157873,579042,578805,241125,5,17950,65,850920,306953,26
38,Taita Taveta,340671,173337,167327,96429,4,17152,20,284657,56014,7
13,Kilifi,1453787,704089,749673,298472,5,12540,116,1109735,344052,25
0,Baringo,666763,336322,330428,142518,5,10976,61,555561,111202,13
19,Laikipia,518580,259440,259102,149271,3,9532,54,399227,119353,18
46,West Pokot,621241,307013,314213,116182,5,9123,68,512690,108551,15
18,Kwale,866820,425121,441681,173176,5,8267,105,649931,216889,18
22,Makueni,987653,489691,497942,244669,4,8170,121,884527,103126,20
30,Nakuru,2162202,1077272,1084835,616046,4,7462,290,1603325,558877,95
25,Meru,1545714,767698,777975,426360,4,7006,221,1356301,189413,41
20,Lamu,143920,76103,67813,37963,4,6253,23,101539,42381,4
21,Machakos,1421932,710707,711191,402466,4,6043,235,1098584,323348,34
43,Uasin Gishu,1163186,580269,582889,304943,4,3392,343,894179,269007,28
35,Nyeri,759164,374288,384845,248050,3,3325,228,693558,65606,31
34,Nyandarua,638289,315022,323247,179686,4,3286,194,596268,42021,20
7,Homa Bay,1131950,539560,592367,262036,4,3153,359,963794,168156,23
4,Elgeyo-Marakwet,454480,227317,227151,99861,5,3032,150,369998,84482,12
2,Bungoma,1670570,812146,858389,358796,5,3024,552,1630934,39636,35
10,Kakamega,1867579,897133,970406,433207,4,3020,618,1660651,206928,40
31,Nandi,885711,441259,444430,199426,4,2856,310,752965,132746,22
5,Embu,608599,304208,304367,182743,3,2821,216,516212,92387,24
26,Migori,1116436,536187,580214,240168,5,2614,427,917170,199266,35
40,Tharaka-Nithi,393177,193764,199406,109860,4,2564,153,365330,27847,7
12,Kiambu,2417735,1187146,1230454,795241,3,2539,952,1623282,794453,135
1,Bomet,875689,434287,441379,187641,5,2531,346,724186,151503,23
37,Siaya,993183,471669,521496,250698,4,2530,393,842304,150879,18
28,Murang'a,1056640,523940,532669,318105,3,2524,419,942581,114059,31
41,Trans Nzoia,990341,489107,501206,223808,4,2495,397,818757,171584,28
11,Kericho,901777,450751,451008,206036,4,2436,370,758339,143438,28
16,Kisumu,1155574,560942,594609,300745,4,2085,554,968909,186665,23
3,Busia,893681,426252,467401,198152,5,1696,527,488075,405606,28
14,Kirinyaga,610411,302011,308369,204188,3,1478,413,528054,82357,31
15,Kisii,1266860,605784,661038,308054,4,1323,958,1152282,114578,38
33,Nyamira,605576,290907,314656,150669,4,897,675,598252,7324,13
29,Nairobi,4397073,2192452,2204376,1506888,3,704,6247,3138369,1258704,245
44,Vihiga,590013,283678,306323,143365,4,564,1047,554622,35391,12
27,Mombasa,1208333,610257,598046,378422,3,220,5495,939370,268963,30

top 10 largest counties in kenya

In [10]:
land.head(10)

,County,Total_Population19,Male population 2019,Female population 2019,Households,Av_HH_Size,LandArea,Population Density,Population in 2009,Pop_change,Intersex population 2019
24,Marsabit,459785,243548,216219,77495,6,70944,6,291166,168619,18
42,Turkana,926976,478087,448868,164519,6,68233,14,855399,71577,21
45,Wajir,781263,415374,365840,127932,6,56773,14,661941,119322,49
6,Garissa,841353,458975,382344,141394,6,44736,19,623060,218293,34
39,Tana River,315943,158550,157391,68242,5,37951,8,240075,75868,2
17,Kitui,1136187,549003,587151,262942,4,30430,37,1012709,123478,33
23,Mandera,867457,434976,432444,125763,7,25940,33,1025756,"(158,299)",37
8,Isiolo,268002,139510,128483,58072,5,25350,11,143294,124708,9
9,Kajiado,1117840,557098,560704,316179,4,21871,51,687312,430528,38
36,Samburu,310327,156774,153546,65910,5,21065,15,223947,86380,7

ten smallest counties

In [11]:
land.tail(10)

,County,Total_Population19,Male population 2019,Female population 2019,Households,Av_HH_Size,LandArea,Population Density,Population in 2009,Pop_change,Intersex population 2019
41,Trans Nzoia,990341,489107,501206,223808,4,2495,397,818757,171584,28
11,Kericho,901777,450751,451008,206036,4,2436,370,758339,143438,28
16,Kisumu,1155574,560942,594609,300745,4,2085,554,968909,186665,23
3,Busia,893681,426252,467401,198152,5,1696,527,488075,405606,28
14,Kirinyaga,610411,302011,308369,204188,3,1478,413,528054,82357,31
15,Kisii,1266860,605784,661038,308054,4,1323,958,1152282,114578,38
33,Nyamira,605576,290907,314656,150669,4,897,675,598252,7324,13
29,Nairobi,4397073,2192452,2204376,1506888,3,704,6247,3138369,1258704,245
44,Vihiga,590013,283678,306323,143365,4,564,1047,554622,35391,12
27,Mombasa,1208333,610257,598046,378422,3,220,5495,939370,268963,30

total land area size in sq kilometers

In [14]:
land['LandArea'].sum()

580876